#textdomain wesnoth-The_Unstoppable_Legion
[scenario]
	id="The_King's_Council"

	name= _ "The King's Council"
	next_scenario=The_Front_Line
	{UL_MAP The_Kings_Council}
	
	{DAWN}
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}
	
	{TURNS 1 1 1}

[story]
	[part]
	music=interlude.ogg
	story= _ "Finally, we reached the gates of Karasov - a city I had not seen for a long time. But it was a very different city to the one I had last seen. News of the invasion had reached the city long before we had, and the mood was fearful, apprehensive, and - to many - already resigned to the fall of the capital."
	background=story/karasov.jpg
	[/part]
	[part]
	story= _ "Some people stopped us and asked if there was any word from friends in the Northern Provinces. It seemed that, since the start of the invasion, there had been no word at all from north of the border."
	background=story/karasov.jpg
	[/part]
	[part]
	story= _ "The only joy in the city came from the accursed cultists, very much alike to the ones we had fought on our journey. As we passed their infernal temple, they promised protection to anyone joining them, and death to anyone who tried to resist."
	background=story/karasov.jpg
	[/part]
	[part]
	story = _ "Why was the king allowing these people to commit treason in front of his very eyes? King Eldrian would never have allowed this. But, as I was about to discover, the decisive kings of Eldrian's line were long gone."
	background=story/karasov.jpg
	[/part]
        [part]
            show_title=yes
			{OLD_JOURNEY 549 599}
			{OLD_JOURNEY 558 576}
			{OLD_JOURNEY 559 553}
			{OLD_JOURNEY 566 534}
			{OLD_JOURNEY 551 519}
			{OLD_JOURNEY 537 497}
			{OLD_JOURNEY 543 481}
			{OLD_JOURNEY 549 470}
			{OLD_JOURNEY 561 455}
			{OLD_JOURNEY 573 441}
			{OLD_BATTLE 585 430}
			{OLD_JOURNEY 585 430}
			{OLD_JOURNEY 573 441}
			{OLD_JOURNEY 561 455}
			{OLD_BATTLE 549 470}
			{OLD_JOURNEY 549 470}
			{OLD_JOURNEY 543 481}
			{OLD_JOURNEY 551 491}
			{OLD_BATTLE 558 501}
			{NEW_JOURNEY 558 501}
			{NEW_JOURNEY 551 519}
			{NEW_JOURNEY 566 534}
			{NEW_JOURNEY 559 553}
			{NEW_JOURNEY 558 576}
			{NEW_REST 549 599}
	background=story/suveran.png
        [/part]

[/story]

# Viktor's Forces

[side]
	side=1
	controller=human
	team_name=Viktor

	type=Mounted Noble
	id=Viktor
	unrenamable=yes
	canrecruit=yes

	recruit=UL_Cavalryman,UL_Horseman,Bowrider

	{GOLD 60 40 20}
	{INCOME 0 0 0}	
[/side]

# General Karak

[side]
	side=2
	controller=ai
	team_name=Viktor

	type=General
	id=General Karak
	experience=$karak.experience
	name= _ "General Karak"
	unrenamable=yes
	canrecruit=yes

	{GOLD 100 100 100}
	{INCOME 0 0 0}
[/side]

# The King's Council

[side]
	side=3
	controller=ai
	team_name=Viktor

	type=Great Mage
	id=King Gamaron
	name= _ "King Gamaron"
	unrenamable=yes
	canrecruit=no

	{GOLD 100 100 100}
	{INCOME 0 0 0}
[/side]

	{~add-ons/The_Unstoppable_Legion/utils/dismount.cfg}

# Scenario Pre-start

[event]
	name=prestart

# Bring in General Karak from previous scenario, so any XP are carried over. Mainly symbolic.

	[unstore_unit]
		variable=karak
		x=10
		y=20
	[/unstore_unit]

	[heal_unit]
		[filter]
		id=General Karak
		[/filter]
		amount=full
	[/heal_unit]

	[recall]
		id=Deuterus
		x=11
		y=20
	[/recall]

	[hide_unit]
		side=1,2
	[/hide_unit]

	[unit]
		type=Grand Marshal
		id=Grand Marshal Romaniov
		name= _ "Grand Marshal Romaniov"
		facing=se
		x=7
		y=8
		side=3
	[/unit]

	[unit]
		type=White Mage
		id=Arch-Minister Mavarian
		name= _ "Arch-Minister Mavarian"
		facing=se
		x=8
		y=7
		side=3
	[/unit]

	[unit]
		type=Red Mage
		id=Chief Advisor Jofessan
		name= _ "Chief Advisor Jofessan"
		facing=sw
		x=12
		y=7
		side=3
	[/unit]

	[unit]
		type=Mage
		id=Councillor Durgan
		name= _ "Councillor Durgan"
		facing=sw
		x=13
		y=8
		side=3
	[/unit]

# Change Viktor to dismounted unit. Riding your horse into a throne room is rude.

{UNMOUNT_VIKTOR}

[/event]

# Scenario Start

[event]
	name=start

	[scroll_to]
		x=10
		y=7
	[/scroll_to]
	[music]
		name=legends_of_the_north.ogg
		immediate=yes
	[/music]
	[message]
		speaker=Grand Marshal Romaniov
		message = _ "Your majesty, I have given the order for our full army to amass on Fort Tarkit. We may have been caught unprepared, but no army from the north can possibly defeat our entire force."
	[/message]

	[message]
		speaker=Chief Advisor Jofessan
		message = _ "This is insane! Do you not remember the legend of Zharagorn? All who rose to fight him were slain! Do you wish to condemn every soldier of ours to death?"
	[/message]

	[message]
		speaker=King Gamaron
		message = _ "Councillor Durgan. What do you have to say on this matter?"
	[/message]

	[message]
		speaker=Councillor Durgan
		message = _ "Uhmm ... err ..."
	[/message]

	[message]
		speaker=Arch-Minister Mavarian
		message = _ "Sire, I concur with Jofessan. Fort Takrit is exposed on several flanks and will be difficult to defend against a large army. If this is indeed the Legions of Zharagorn, we should retreat to Karasov and fight where our defences are strongest."
	[/message]

	[message]
		speaker=Chief Advisor Jofessan
		message = _ "Are you joking? Excellency, if our forces must go ahead with a suicidal attack, I would rather they fought at Fort Takrit, away from the city. There will be a slaughter no matter where they fight, and I for one do not wish our women and children to be included."
	[/message]

	[message]
		speaker=King Gamaron
		message = _ "Wait ... I believe we have a guest. General Karak, it is a pleasure to see you again."
	[/message]

	[unhide_unit]
		side=1,2
	[/unhide_unit]

	{MOVE_UNIT id=Viktor 9 11}
	{MOVE_UNIT id=Deuterus 11 11}
	{MOVE_UNIT (id=General Karak) 10 11}

	[message]
		speaker=General Karak
		message = _ "Your majesty, it is a privilege to be granted an audience at this busy time."
	[/message]

	[message]
		speaker=Grand Marshal Romaniov
		message = _ "Karak, what are you doing out of post? You were ordered to remain at Fort Takrit."
	[/message]

	[message]
		speaker=General Karak
		message = _ "My orders were to hold the fort until reinforcements arrive. They have now arrived and my orders are complete. Nevertheless, I intend to return to Fort Takrit tonight. But I pray you grant an audience with Viktor, a young commander, and an old man named Deuterus."
	[/message]
	[message]
		id=King Gamaron
		message = _ "So you must be young Viktor?"
	[/message]
	[message]
		id=Viktor
		message = _ "At your service, your majesty!"
	[/message]

# Bounty if enemy leaders in last scenario killed

	[if]
		[variable]
			name=bounty
			equals=small
		[/variable]
		[then]
			[message]
				id=King Gamaron
				message = _ "I hear you took down a dark sorcerer attacking fort Takrit. Please accept a small token of my appreciation."
			[/message]
			[sound]
				name=gold.ogg
			[/sound]
			[message]
				speaker=narrator
				image="wesnoth-icon.png"
				message= _ "You receive 25 pieces of gold."
			[/message]
			[gold]
				side=1
				amount=25
			[/gold]
		[/then]
	[/if]
	[if]
		[variable]
			name=bounty
			equals=large
		[/variable]
		[then]
			[message]
				id=King Gamaron
				message = _ "I hear you took down the leader of the assault on Fort Takrit. That must be rewarded."
			[/message]
			[sound]
				name=gold.ogg
			[/sound]
			[message]
				speaker=narrator
				image="wesnoth-icon.png"
				message= _ "You receive 50 pieces of gold."
			[/message]
			[gold]
				side=1
				amount=50
			[/gold]
		[/then]
	[/if]
	{CLEAR_VARIABLE bounty}
	[message]
		speaker=Arch-Minister Mavarian
		message = _ "And it that Deuterus? ... Can it really ... no, that's impossible."
	[/message]

	[message]
		speaker=Deuterus
		message = _ "Your majesty, noble councillors, the force invading the land is indeed the forces of Zharagorn. If we are to prevail, I pray you heed three pieces of advice."
	[/message]

	[message]
		speaker=Grand Marshal Romaniov
		message = _ "Why should we waste time listening to the ramblings of this old fool? Does anyone here even wish to listen?"
	[/message]

	[message]
		speaker=Councillor Durgan
		message = _ "Duh ... err ... ummm ..."
	[/message]

	[message]
		speaker=Arch-Minister Mavarian
		message = _ "I wish to hear what he has to say."
	[/message]

	[message]
		speaker=King Gamaron
		message = _ "Very well. Proceed."
	[/message]

	[message]
		speaker=Deuterus
		message = _ "Firstly, we must be prepared to stand and fight. Zharagorn is only at the strength he is now because too many of the Northern Provinces surrendered instead of putting up a fight. But Zharagorn can be beaten, and he can be beaten here."
	[/message]

	[message]
		speaker=Chief Advisor Jofessan
		message = _ "Pah! Don't you know the legends?"
	[/message]

	[message]
		speaker=Deuterus
		message = _ "I do, and legends can be misleading. Secondly, you must not underestimate their forces. Your only chance is to position your forces in the strongest defensive positions possible."
	[/message]

	[message]
		speaker=Grand Marshal Romaniov
		message = _ "I have been in command of the King's armies for ten years, and I will not be told how to do my job!"
	[/message]

	[message]
		speaker=Arch-Minister Mavarian
		message = _ "And the third piece of advice?"
	[/message]

	[message]
		speaker=Deuterus
		message = _ "You must send a force behind enemy lines and send them to the World's End mountains."
	[/message]

	[message]
		speaker=King Gamaron
		message = _ "Why is that?"
	[/message]

	[message]
		speaker=Deuterus
		message = _ "That is where the Black Emerald is located. Destroy the Black Emerald and Zharagorn's power will be broken."
	[/message]

	[message]
		speaker=Grand Marshal Romaniov
		message = _ "My lord! This suggestion is ridiculous! It would be suicide to send soldiers behind enemy lines."
	[/message]

	[message]
		speaker=Deuterus
		message = _ "On the contrary, Zharagorn will pack most of his forces into his front line. A small force behind enemy lines could roam virtually unchecked."
	[/message]

	[message]
		speaker=Grand Marshal Romaniov
		message = _ "Well, I don't know what makes you think you know so much about Zharagorn, but even if you do, where am I supposed to find a commander who would volunteer such a suicidal mission?"
	[/message]

	[message]
		speaker=Viktor
		message = _ "I will go!"
	[/message]

	[message]
		speaker=King Gamaron
		message = _ "I beg your pardon?"
	[/message]

	[message]
		speaker=Viktor
		message = _ "I have faith in what this man says. I'm prepared to bank my life on his plan."
	[/message]

	[message]
		speaker=Arch-Minister Mavarian
		message = _ "Then I say we do this. We have a willing officer, and this could be our only hope."
	[/message]

	[message]
		speaker=Grand Marshal Romaniov
		message = _ "And I say we don't! I need every man I can get on the front line, even arrogant sons of nobles."
	[/message]

	[message]
		speaker=Chief Advisor Jofessan
		message = _ "And I say we don't. If a mythical circle of powerful druids failed, what chance do a bunch of untested riders have? And besides, if he got anywhere near this Black Emerald, Zharagorn will see us as a threat. There won't be a chance for surrender, there will be annihilation!"
	[/message]

	[message]
		speaker=Councillor Durgan
		message = _ "Err ... err ... ummm ... duhh ..."
	[/message]

	[message]
		speaker=King Gamaron
		message = _ "Thank you all. We will discuss your proposal in due course and let you know when we have reached an agreement."
	[/message]
	{MOVE_UNIT id=Viktor 9 20}
	{MOVE_UNIT id=Deuterus 11 20}
	{MOVE_UNIT (id=General Karak) 10 20}

	[message]
		speaker=Viktor
		message = _ "Oh no. I've seen what happens in these meetings. It will be days before we hear an answer at the earliest."
	[/message]

	[message]
		speaker=Deuterus
		message = _ "That is not good. We cannot wait days."
	[/message]

	[message]
		speaker=General Karak
		message = _ "Viktor, perhaps I can be of help. I am returning to the front line tonight. If you wish, when Zharagorn's front line meets ours, my forces can fight them until we open a gap in the ranks for you. After that, you'll be on your own."
	[/message]

	[message]
		speaker=Viktor
		message = _ "This sounds dangerous. Are there any other ways of crossing enemy lines?"
	[/message]

	[message]
		speaker=General Karak
		message = _ "An alternative would be to try to go underneath the enemy lines using some abandoned dwarven tunnels, but there is no knowing what lurks down there now, and I won't be able to help you."
	[/message]

	[message]
		speaker=Deuterus
		message = _ "I'm not sure about that either. Is there any other way to get behind enemy lines?"
	[/message]

	[message]
		speaker=General Karak
		message = _ "The only other option would be to sail round the coast and try to make it up Blacktop River, but you'd have to hope the creatures who live at the delta of the river are happy to let you pass. Basically, all three options have their own dangers."
	[/message]

	[message]
		speaker=Viktor
		message= _ "I need to think about this."
		[option]
			message= _ "We should help repel the invasion. Let us break through the front line."
			[command]
				[message]
					speaker=General Karak
					message = _ "Very well. I only hope we can hold Fort Takrit long enough for you to break through."
				[/message]

				[endlevel]
				    result=victory
				    bonus=no
				     next_scenario=The_Front_Line
				    {NEW_GOLD_CARRYOVER 100}
				    carryover_report=no
				    linger_mode=no
				[/endlevel]
			[/command]
		[/option]

		[option]
			message= _ "We'll take the tunnels. Zharagorn's forces won't be expecting that."
			[command]
				[message]
					speaker=General Karak
					message = _ "As you wish. I know a guide who is familiar with those tunnels. I'm sure he'll be pleased to help you."
				[/message]

				[endlevel]
				    result=victory
				    bonus=no
				     next_scenario=Beneath_Enemy_Lines
				    {NEW_GOLD_CARRYOVER 100}
				    carryover_report=no
				    linger_mode=no
				[/endlevel]
			[/command]
		[/option]

		[option]
			message= _ "Hopefully the enemy hasn't reached the coast yet. By sea it is."
			[command]
				[message]
					speaker=General Karak
					message = _ "In that case, your best bet is to travel with Captain Josephine. She knows the delta of the river better than anyone else."
				[/message]

				[endlevel]
				    result=victory
				    bonus=no
				     next_scenario=The_Forgotten_Front
				    {NEW_GOLD_CARRYOVER 100}
				    carryover_report=no
				    linger_mode=no
				[/endlevel]
			[/command]
		[/option]
	[/message]
[/event]

[/scenario]
